
/* color palette for my website  */
:root { 
    /* CSS HEX */
    --tea-green: #D2EDA8ff;
    --floral-white: #F6F4EDff;
    --cherry-blossom-pink: #F6B6C4ff;
    --eerie-black: #212121ff;
    --tomato: #EB6049ff;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    
    * {
      margin: 0em;
    }
    
    body {
      display: flex;
      flex-direction: column;
      background-color:#F6F4EDff;
      justify-content: center;
      align-items: center;
    }
    

    
    header {
      background-color: var(--tea-green);
      height:12dvh;
      width: 100%;
      text-align: center;
      border: 1px solid var(--eerie-black);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
    
    nav {
      margin-top: 0.5em;
    }
    
    nav > a {
      text-decoration:none;
      background-color: var(--cherry-blossom-pink);
      color:black;
      padding: 0.25em;
      border-radius: 0.5em;
    
    }
    
    nav > a:hover {
      background-color:aliceblue;
    }
    
    main {
      min-height: 80dvh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items:flex-start;
    
    }
    main > * {
      margin: 0.5em;
    }
    
    
    
    main > p {
      font-size: large;
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    
    main > h1 {
      text-align: center;
    }
    

    /* making the images responsive since they're all different from each other */
    #profile-picture {
      float:left;
      height:30dvh;
      width:15%;
      object-fit: cover, scale-down;
      margin: left 0.5em;
      padding: 0.5em;
      border-radius: 20%;
   
    }

    #bouldering {
      float:left;
      height:40dvh;
      width:20%;
      object-fit: cover,scale-down;
      margin: left 0.5em;
      padding: 0.5em;
      border-radius: 20%;

    }

    #foodpic {
      float: right;
      justify-content: right;
      align-items: right;
      position: relative;
      height: 50dvh;
      width: 40%;
      object-fit: cover,scale-down;
      margin: 0.5em 0.5em 0.5em;
      padding: 0.5em;
      border-radius: 20%;

    }
    
    footer {
      background-color: var(--tea-green);
      height: 8dvh;
      width: 100%;
      text-align: center;
      border: 1px solid var(--eerie-black);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }

/* mobile and tablet view  */
  @media screen and (max-width:1024px){

    main > p {
      font-size: x-large;
    }

    #profile-picture {
      float: left;
      position: relative;
      height:50dvh;
      width: 50%;
      object-fit: cover, scale-down;
      margin: left 1em;
      padding: 1em;
      border-radius: 20%;

    }

    #bouldering {
      float: left;
      position: relative;
      height:70dvh;
      width: 60%;
      object-fit: cover, scale-down;
      margin: left 1em;
      padding: 1em;
      border-radius: 20%;

    }

    #foodpic {
      float:right;
      position:relative;
      align-items: right;
      height: 60dvh;
      width: 50%;
      object-fit: cover, scale-down;
      margin: left 1em;
      padding: 1em;
      border-radius: 20%;
    }

  }
    
  