/* color palette for my website  */
:root { 
  /* CSS HEX */
  --tea-green: #D2EDA8ff;
  --floral-white: #F6F4EDff;
  --cherry-blossom-pink: #F6B6C4ff;
  --eerie-black: #212121ff;
  --tomato: #EB6049ff;
  

  
}
  
    
* {
  margin: 0em;
}

/* changing the color of the links  */
.li:link , .li:visited {
  color: #F6F4EDff;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color:#F6F4EDff;
  justify-content: center;
  align-items: center;
}


header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--tea-green);
  height:12dvh;
  width: 100%;
  text-align: center;
  border: 1px solid var(--eerie-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

nav {
  margin-top: 0.5em;
}

nav > a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:none;
  background-color: var(--cherry-blossom-pink);
  color:black;
  padding: 0.25em;
  border-radius: 0.5em;

}

nav > a:hover {
  background-color:aliceblue;
}

main {
  min-height: 80dvh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
main > * {
  margin: 0.5em;
}

main > img {
  height: 50dvh;
  width: auto;
  margin: 2em;
  object-fit:cover;

}



/* using a different font from the header and the footer  */
main > section > section > p {
  font-size:large;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main > h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  background-color: var(--tea-green);
  height: 8dvh;
  width: 100%;
  text-align: center;
  border: 1px solid var(--eerie-black);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* blogs containers  */

.projectPreview > img {
	height: 20dvh;
	border-radius: 2em;
}

.projectPreview {
	max-width: 65dvw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;	
	margin: 2em;
	padding: 1em;
	background-color: var(--cherry-blossom-pink);
	border-radius: 2em;
	box-shadow: 0.5em 0.5em var(--tomato);
}


.projectPreview:hover {
	border-radius: 0;
}


.projectPreview > a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: var(--tomato);
	padding: 1em;
	border-radius: 2em;
}


.projectPreview > section {
	display: flex;
	column-gap: 2em;
}

.contentRow {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 0;
}


/* Desktop view */
@media screen and (min-width: 800px) {
	.contentRow {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	main {
		margin: 0;
		padding: 0;

	}

	.projectPreview {
		width: 30dvw;
		margin: 1em;
		
	}



}