
:root { 
    /* CSS HEX */
    --tea-green: #D2EDA8ff;
    --floral-white: #F6F4EDff;
    --cherry-blossom-pink: #F6B6C4ff;
    --eerie-black: #212121ff;
    --tomato: #EB6049ff;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    
    * {
      margin: 0em;
    }
    

    .li:link , .li:visited {
      color: #F6F4EDff;
      text-decoration: none;
    }

    body {
      display: flex;
      flex-direction: column;
      background-color:#F6F4EDff;
      justify-content: center;
      align-items: center;
    }
    
    /* header > img {
    
    height: fit-content;
    width: fit-content;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 50%;
    
    background:transparent;
    
    transform: translate(-50%, -50%);
    animation: rotate 4s;
    animation-iteration-count: infinite;
    
    } */
    
    @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    
    header {
      background-color: var(--tea-green);
      height:12dvh;
      width: 100%;
      text-align: center;
      border: 1px solid var(--eerie-black);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
    
    nav {
      margin-top: 0.5em;
    }
    
    nav > a {
      text-decoration:none;
      background-color: var(--cherry-blossom-pink);
      color:black;
      padding: 0.25em;
      border-radius: 0.5em;
    
    }
    
    nav > a:hover {
      background-color:aliceblue;
    }
    
    main {
      min-height: 80dvh;
      width: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
    main > * {
      margin: 0.5em;
    }
    
    main > img {
      height: 50dvh;
      /* width: auto; */
      margin: 2em;
      object-fit:cover;
    
    }
    
    main > p {
      font-size:large;
    }
    
    main > h1 {
      text-align: center;
    }
    
    footer {
      background-color: var(--tea-green);
      height: 5dvh;
      width: 100%;
      text-align: center;
      border: 1px solid var(--eerie-black);
      
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    

.projectPreview > img {
	height: 20dvh;
	border-radius: 2em;
}

.projectPreview {
	max-width: 65dvw;

	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;	
	margin: 2em;
	padding: 1em;
	background-color: var(--cherry-blossom-pink);
	border-radius: 2em;
	/* filter: drop-shadow(1em 1em 5px var(--purple-heart-600)); */
	box-shadow: 0.5em 0.5em var(--tomato);
}


.projectPreview:hover {
	border-radius: 0;
}


.projectPreview > a {
	background-color: var(--tomato);
	padding: 1em;
	border-radius: 2em;
}


.projectPreview > section {
	display: flex;
	column-gap: 2em;
}

/* .projectPreview > section > a {
	background-color: var(--cherry-blossom-pink);
	padding: 1em;
	border-radius: 2em;
	border: 3px solid var(--eerie-black);
} */

.contentRow {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 0;
}

main {
	margin: 0;
}

/* Desktop view */
@media screen and (min-width: 600px) {
	.contentRow {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	main {
		margin: 0;
		padding: 0;

	}

	.projectPreview {
		width: 30dvw;
		margin: 1em;
		
	}


}