
:root { 
--tea-green: #D2EDA8ff;
--floral-white: #F6F4EDff;
--cherry-blossom-pink: #F6B6C4ff;
--eerie-black: #212121ff;
--tomato: #EB6049ff;


}

* {
  margin: 0em;

}

body {
  display: flex;
  flex-direction: column;
  background-color:#F6F4EDff;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--tea-green);
  height:12dvh;
  width: 100%;
  text-align: center;
  border: 1px solid var(--eerie-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

nav {
  margin-top: 0.5em;
}

nav > a {
  text-decoration:none;
  background-color: var(--cherry-blossom-pink);
  color:black;
  padding: 0.25em;
  border-radius: 0.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav > a:hover {
  background-color:aliceblue;
}

main {
  min-height: 80dvh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
main > * {
  margin: 0.5em;
}

#homepageimage {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative; 
  height: 50dvh;
  width: auto;
border-radius: 20%;
}

main > h2 {
  font-size: xx-large;
  text-decoration: underline;
  text-decoration-color: var(--cherry-blossom-pink);
}

main > p {
  font-size:large;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main > h1 {
  text-align: center;
}

footer {
  background-color: var(--tea-green);
  height: 8dvh;
  width: 100%;
  text-align: center;
  border: 1px solid var(--eerie-black);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}
.button {
  background-color: var(--tomato);
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 2em;
}
.li:link , .li:visited {
  color: #F6F4EDff;
  text-decoration: none;
}



