

*{
    font-family: "Dosis", sans-serif;

  }
.header-logo{
  display: flex;
  justify-content: flex-start;
}

#site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    background: #e9edc9;
    align-items: center;
}

 
.navigation-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
}



ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9edc9;
    align-items:center ;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #414140;
    text-align: center;
    padding: 9px 20px;
    
  }
  
  li a:hover {
    background-color: #ccd5ae;
  }

  

